<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>Portfolio - Boxed Masonry | Front - Responsive Website Template</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  <!-- CSS Implementing Plugins -->




  <!-- CSS Front Template -->

</head>
<body>
  <!-- ========== HEADER ========== -->

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div id="SVGwave1BottomSMShape" class="position-relative bg-light overflow-hidden">
      <div class="container space-top-2 space-bottom-3 space-top-md-5 space-top-lg-4">
        <div class="w-md-80 w-lg-60 text-center mx-auto">
          <h1 class="display-4 font-size-md-down-5 text-primary">Portfolio <span class="font-weight-semi-bold">masonry</span></h1>
          <p class="lead">Your portfolio should tell your story.</p>
        </div>
      </div>




      <!-- SVG Background -->
       <figure class="position-absolute right-0 bottom-0 left-0 africanwear-user-base">
       

            
     

              


      </figure>
      <!-- End SVG Background -->


    </div>
    <!-- End Hero Section -->

    <!-- Categories Section -->
    <div class="container space-1">
      <h2 class="h6 mb-3">Layout modes</h2>
      <div class="row align-items-center">
        <div class="col-xl-6 mb-5 mb-xl-0">
          <!-- Categories Nav -->
          <ul class="nav nav-classic nav-rounded nav-shadow">
            <li class="nav-item">
              <a class="nav-link" href="boxed-classic.html">Classic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="boxed-grid.html">Grid</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="boxed-masonry.html">Masonry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="boxed-modern.html">Modern</a>
            </li>
          </ul>
          <!-- End Categories Nav -->
        </div>

        <div class="col-xl-6 text-xl-right">
          <!-- Button Group -->
          <div class="btn-group btn-group-toggle">
            <a class="btn btn-outline-secondary btn-custom-toggle-primary btn-sm-wide active" href="boxed-masonry.html">Boxed</a>
            <a class="btn btn-outline-secondary btn-custom-toggle-primary btn-sm-wide" href="fullwidth-masonry.html">Fullwidth</a>
          </div>
          <!-- End Button Group -->
        </div>
      </div>
    </div>
    <!-- Categories Section -->

    <!-- Portfolio Section -->
    <div class="container space-2 space-bottom-md-3">
      <div class="u-cubeportfolio">
        <!-- Filter -->
        <ul id="filterControls" class="list-inline cbp-l-filters-alignRight text-center">
          <li class="list-inline-item cbp-filter-item cbp-filter-item-active u-cubeportfolio__item" data-filter="*">All</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".branding">Branding</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".abstract">Abstract</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".graphic">Graphic</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".illustration">Illustration</li>
        </ul>
        <!-- End Filter -->

        <!-- Content -->
        <div class="cbp"
             data-layout="grid"
             data-controls="#filterControls"
             data-animation="quicksand"
             data-x-gap="32"
             data-y-gap="32"
             data-load-more-selector="#cubeLoadMore"
             data-load-more-action="auto"
             data-load-items-amount="2"
             data-media-queries='[
              {"width": 1500, "cols": 4},
              {"width": 1100, "cols": 4},
              {"width": 800, "cols": 3},
              {"width": 480, "cols": 2},
              {"width": 300, "cols": 1}
            ]'>
          <!-- Item -->
          <div class="cbp-item rounded graphic">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
                <%= image_tag('rmv/380x360/img1.jpg') %>

               
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Remind Me More</h4>
                    <p class="small text-white-70 mb-0">
                      by Tiberiu Neamu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded branding">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
                
                <%= image_tag('rmv/380x270/img1.jpg') %>
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Workout Buddy</h4>
                    <p class="small text-white-70 mb-0">
                      by Tiberiu Neamu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded abstract illustration">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
               
                <%= image_tag('rmv/380x270/img7.jpg') %>
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Tiger</h4>
                    <p class="small text-white-70 mb-0">
                      by Cosmin Capitanu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic illustration">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
            
                <%= image_tag('rmv/380x360/img3.jpg') %>
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Tiger</h4>
                    <p class="small text-white-70 mb-0">
                      by Cosmin Capitanu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded abstract illustration">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
               
                <%= image_tag('rmv/380x270/img3.jpg') %>

              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Tiger</h4>
                    <p class="small text-white-70 mb-0">
                      by Cosmin Capitanu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic illustration">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
              
                 <%= image_tag('rmv/380x270/img6.jpg') %>
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Tiger</h4>
                    <p class="small text-white-70 mb-0">
                      by Cosmin Capitanu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded branding">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
               
                 <%= image_tag('rmv/380x360/img18.jpg') %>
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Workout Buddy</h4>
                    <p class="small text-white-70 mb-0">
                      by Tiberiu Neamu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded abstract illustration">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
              
                   <%= image_tag('rmv/380x360/img12.jpg') %>
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Tiger</h4>
                    <p class="small text-white-70 mb-0">
                      by Cosmin Capitanu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
                
                   <%= image_tag('rmv/380x270/img5.jpg') %>
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Remind Me More</h4>
                    <p class="small text-white-70 mb-0">
                      by Tiberiu Neamu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded branding">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
             
                   <%= image_tag('rmv/380x360/img17.jpg') %>
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Workout Buddy</h4>
                    <p class="small text-white-70 mb-0">
                      by Tiberiu Neamu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded branding">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
              
                   <%= image_tag('rmv/380x360/img16.jpg') %>
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Workout Buddy</h4>
                    <p class="small text-white-70 mb-0">
                      by Tiberiu Neamu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic">
            <a class="cbp-caption" href="../portfolio/single-page-simple.html">
              <div class="cbp-caption-defaultWrap">
             
                   <%= image_tag('rmv/380x270/img2.jpg') %>
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Remind Me More</h4>
                    <p class="small text-white-70 mb-0">
                      by Tiberiu Neamu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->
        </div>
        <!-- End Content -->

        <div class="space-bottom-2"></div>

        <!-- Load More Button -->
        <div id="cubeLoadMore" class="text-center">
          <a href="../../assets/include/ajax/portfolio-masonry-1/load-more.html" class="cbp-l-loadMore-link link" rel="nofollow">
            <span class="cbp-l-loadMore-defaultText">
              Load More
              <span class="link__icon ml-1">
                <span class="link__icon-inner">&#43;</span>
              </span>
            </span>
            <span class="cbp-l-loadMore-loadingText">Loading...</span>
            <span class="cbp-l-loadMore-noMoreLoading">No more works</span>
          </a>
        </div>
        <!-- End Load More Button -->
      </div>
    </div>
    <!-- End Portfolio Section -->

    <!-- Contact Us Section -->
    <div id="SVGwave1BottomSMShapeID2" class="">
      <div class="gradient-half-primary-v1">
        <div class="container space-top-2 space-bottom-3 space-top-md-3 space-bottom-md-4">
          <div class="row justify-content-md-between align-items-md-start">
            <div class="col-md-6 mb-7 mb-md-0">
              <h2 class="text-white mb-5">You wish us<br>to talk about <span class="font-weight-semi-bold">your project</span>?</h2>
              <a class="h4 text-light" href="mailto:support@htmlstream.com">support@htmlstream.com</a>
            </div>

            <div class="col-md-6 mt-md-auto text-md-right">
              <!-- Social Networks -->
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="#">
                    <span class="fab fa-facebook-f btn-icon__inner"></span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="#">
                    <span class="fab fa-google btn-icon__inner"></span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="#">
                    <span class="fab fa-twitter btn-icon__inner"></span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="#">
                    <span class="fab fa-github btn-icon__inner"></span>
                  </a>
                </li>
              </ul>
              <!-- End Social Networks -->

              <span class="h4 text-white-70">+1 (062) 109-9222</span>
            </div>
          </div>
        </div>
      </div>

      <!-- SVG Background -->

                      <!-- SVG Background -->
         <figure class="position-absolute right-0 bottom-0 left-0 z-index-2">
       

             <%= image_tag('svg/components/wave-1-bottom-sm.svg', class: "js-svg-injector", 
             :data => {:parent => '#SVGwave1BottomSMShapeID2'} ) %>
     

              


      </figure>
      <!-- End SVG Background -->
      <!-- End SVG Background -->
    </div>
    <!-- End Contact Us Section -->
  </main>
  <!-- ========== END MAIN ========== -->

  <!-- ========== FOOTER ========== -->
  <footer>
    <!-- Lists -->
    <div class="border-bottom">
      <div class="container space-2">
        <div class="row justify-content-md-between">
          <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
            <h4 class="h6 font-weight-semi-bold">About</h4>

            <!-- List Group -->
            <ul class="list-group list-group-flush list-group-borderless mb-0">
              <li><a class="list-group-item list-group-item-action" href="../pages/about-agency.html">About</a></li>
              <li><a class="list-group-item list-group-item-action" href="../pages/services-agency.html">Services</a></li>
              <li><a class="list-group-item list-group-item-action" href="../pages/careers.html">Careers</a></li>
            </ul>
            <!-- End List Group -->
          </div>

          <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
            <h4 class="h6 font-weight-semi-bold">Account</h4>

            <!-- List Group -->
            <ul class="list-group list-group-flush list-group-borderless mb-0">
              <li><a class="list-group-item list-group-item-action" href="../account/dashboard.html">Account</a></li>
              <li><a class="list-group-item list-group-item-action" href="../account/my-tasks.html">My tasks</a></li>
              <li><a class="list-group-item list-group-item-action" href="../account/projects.html">Projects</a></li>
            </ul>
            <!-- End List Group -->
          </div>

          <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
            <h4 class="h6 font-weight-semi-bold">Resources</h4>

            <!-- List Group -->
            <ul class="list-group list-group-flush list-group-borderless mb-0">
              <li><a class="list-group-item list-group-item-action" href="../pages/help.html">Help</a></li>
              <li><a class="list-group-item list-group-item-action" href="../pages/terms.html">Terms</a></li>
              <li><a class="list-group-item list-group-item-action" href="../pages/privacy.html">Privacy</a></li>
            </ul>
            <!-- End List Group -->
          </div>

          <div class="col-md-6 col-lg-4">
            <h4 class="h6 font-weight-semi-bold mb-4">We are driven to deliver results for all your businesses.</h4>

            <!-- Button -->
            <button type="button" class="btn btn-xs btn-dark btn-wide transition-3d-hover text-left mb-2 mr-1">
              <span class="media align-items-center">
                <span class="fab fa-apple fa-2x mr-3"></span>
                <span class="media-body">
                  <span class="d-block">Download on the</span>
                  <strong class="font-size-1">App Store</strong>
                </span>
              </span>
            </button>
            <!-- End Button -->

            <!-- Button -->
            <button type="button" class="btn btn-xs btn-dark btn-wide transition-3d-hover text-left mb-2">
              <span class="media align-items-center">
                <span class="fab fa-google-play fa-2x mr-3"></span>
                <span class="media-body">
                  <span class="d-block">Get it on</span>
                  <strong class="font-size-1">Google Play</strong>
                </span>
              </span>
            </button>
            <!-- End Button -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Lists -->

    <!-- Copyright -->
    <div class="container text-center space-1">
      <!-- Logo -->
      <a class="d-inline-flex align-items-center mb-2" href="../home/index.html" aria-label="Front">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 46 46" xml:space="preserve" style="margin-bottom: 0;">
          <path fill="#3F7DE0" opacity=".65" d="M23,41L23,41c-9.9,0-18-8-18-18v0c0-9.9,8-18,18-18h11.3C38,5,41,8,41,11.7V23C41,32.9,32.9,41,23,41z"/>
          <path class="fill-info" opacity=".5" d="M28,35.9L28,35.9c-9.9,0-18-8-18-18v0c0-9.9,8-18,18-18l11.3,0C43,0,46,3,46,6.6V18C46,27.9,38,35.9,28,35.9z"/>
          <path class="fill-primary" opacity=".7" d="M18,46L18,46C8,46,0,38,0,28v0c0-9.9,8-18,18-18h11.3c3.7,0,6.6,3,6.6,6.6V28C35.9,38,27.9,46,18,46z"/>
          <path class="fill-white" d="M17.4,34V18.3h10.2v2.9h-6.4v3.4h4.8v2.9h-4.8V34H17.4z"/>
        </svg>
        <span class="brand brand-primary">Front</span>
      </a>
      <!-- End Logo -->
      <p class="small text-muted">&copy; Front. 2018 Htmlstream. All rights reserved.</p>
    </div>
    <!-- End Copyright -->
  </footer>
  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Account Sidebar Navigation -->
  <aside id="sidebarContent" class="u-sidebar" aria-labelledby="sidebarNavToggler">
    <div class="u-sidebar__scroller">
      <div class="u-sidebar__container">
        <div class="u-header-sidebar__footer-offset">
          <!-- Toggle Button -->
          <div class="d-flex align-items-center pt-4 px-7">
            <button type="button" class="close ml-auto"
                    aria-controls="sidebarContent"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-unfold-event="click"
                    data-unfold-hide-on-scroll="false"
                    data-unfold-target="#sidebarContent"
                    data-unfold-type="css-animation"
                    data-unfold-animation-in="fadeInRight"
                    data-unfold-animation-out="fadeOutRight"
                    data-unfold-duration="500">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- End Toggle Button -->

          <!-- Content -->
          <div class="js-scrollbar u-sidebar__body">
            <div class="u-sidebar__content u-header-sidebar__content">
              <form class="js-validate">
                <!-- Login -->
                <div id="login" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">Welcome Back!</h2>
                    <p>Login to manage your account.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="signinEmail">Email</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="signinEmailLabel">
                            <span class="fas fa-user"></span>
                          </span>
                        </div>
                        <input type="email" class="form-control" name="email" id="signinEmail" placeholder="Email" aria-label="Email" aria-describedby="signinEmailLabel" required
                               data-msg="Please enter a valid email address."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Form Group -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="signinPassword">Password</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="signinPasswordLabel">
                            <span class="fas fa-lock"></span>
                          </span>
                        </div>
                        <input type="password" class="form-control" name="password" id="signinPassword" placeholder="Password" aria-label="Password" aria-describedby="signinPasswordLabel" required
                               data-msg="Your password is invalid. Please try again."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Form Group -->

                  <div class="d-flex justify-content-end mb-4">
                    <a class="js-animation-link small link-muted" href="javascript:;"
                       data-target="#forgotPassword"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">Forgot Password?</a>
                  </div>

                  <div class="mb-2">
                    <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Login</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">Do not have an account?</span>
                    <a class="js-animation-link small" href="javascript:;"
                       data-target="#signup"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">Signup
                    </a>
                  </div>

                  <div class="text-center">
                    <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
                  </div>

                  <!-- Login Buttons -->
                  <div class="d-flex">
                    <a class="btn btn-block btn-sm btn-soft-facebook transition-3d-hover mr-1" href="#">
                      <span class="fab fa-facebook-square mr-1"></span>
                      Facebook
                    </a>
                    <a class="btn btn-block btn-sm btn-soft-google transition-3d-hover ml-1 mt-0" href="#">
                      <span class="fab fa-google mr-1"></span>
                      Google
                    </a>
                  </div>
                  <!-- End Login Buttons -->
                </div>

                <!-- Signup -->
                <div id="signup" style="display: none; opacity: 0;" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">Welcome to Front.</h2>
                    <p>Fill out the form to get started.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="signupEmail">Email</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="signupEmailLabel">
                            <span class="fas fa-user"></span>
                          </span>
                        </div>
                        <input type="email" class="form-control" name="email" id="signupEmail" placeholder="Email" aria-label="Email" aria-describedby="signupEmailLabel" required
                               data-msg="Please enter a valid email address."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="signupPassword">Password</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="signupPasswordLabel">
                            <span class="fas fa-lock"></span>
                          </span>
                        </div>
                        <input type="password" class="form-control" name="password" id="signupPassword" placeholder="Password" aria-label="Password" aria-describedby="signupPasswordLabel" required
                               data-msg="Your password is invalid. Please try again."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="signupConfirmPassword">Confirm Password</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="signupConfirmPasswordLabel">
                            <span class="fas fa-key"></span>
                          </span>
                        </div>
                        <input type="password" class="form-control" name="confirmPassword" id="signupConfirmPassword" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="signupConfirmPasswordLabel" required
                               data-msg="Password does not match the confirm password."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Input -->

                  <div class="mb-2">
                    <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Get Started</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">Already have an account?</span>
                    <a class="js-animation-link small" href="javascript:;"
                       data-target="#login"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">Login
                    </a>
                  </div>

                  <div class="text-center">
                    <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
                  </div>

                  <!-- Login Buttons -->
                  <div class="d-flex">
                    <a class="btn btn-block btn-sm btn-soft-facebook transition-3d-hover mr-1" href="#">
                      <span class="fab fa-facebook-square mr-1"></span>
                      Facebook
                    </a>
                    <a class="btn btn-block btn-sm btn-soft-google transition-3d-hover ml-1 mt-0" href="#">
                      <span class="fab fa-google mr-1"></span>
                      Google
                    </a>
                  </div>
                  <!-- End Login Buttons -->
                </div>
                <!-- End Signup -->

                <!-- Forgot Password -->
                <div id="forgotPassword" style="display: none; opacity: 0;" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">Recover Password.</h2>
                    <p>Enter your email address and an email with instructions will be sent to you.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="recoverEmail">Your email</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="recoverEmailLabel">
                            <span class="fas fa-user"></span>
                          </span>
                        </div>
                        <input type="email" class="form-control" name="email" id="recoverEmail" placeholder="Your email" aria-label="Your email" aria-describedby="recoverEmailLabel" required
                               data-msg="Please enter a valid email address."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Form Group -->

                  <div class="mb-2">
                    <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Recover Password</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">Remember your password?</span>
                    <a class="js-animation-link small" href="javascript:;"
                       data-target="#login"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">Login
                    </a>
                  </div>
                </div>
                <!-- End Forgot Password -->
              </form>
            </div>
          </div>
          <!-- End Content -->
        </div>

        <!-- Footer -->
        <footer id="SVGwaveWithDots" class=" u-sidebar__footer u-sidebar__footer--account">
          <ul class="list-inline mb-0">
            <li class="list-inline-item pr-3">
              <a class="u-sidebar__footer--account__text" href="../pages/privacy.html">Privacy</a>
            </li>
            <li class="list-inline-item pr-3">
              <a class="u-sidebar__footer--account__text" href="../pages/terms.html">Terms</a>
            </li>
            <li class="list-inline-item">
              <a class="u-sidebar__footer--account__text" href="../pages/help.html">
                <i class="fas fa-info-circle"></i>
              </a>
            </li>
          </ul>



                <!-- SVG Background -->
       <figure class="position-absolute right-0 bottom-0 left-0">
       

             <%= image_tag('svg/components/wave-bottom-with-dots.svg', class: "js-svg-injector", 
             :data => {:parent => '#SVGwaveWithDots'} ) %>
     

              


      </figure>
      <!-- End SVG Background -->


        </footer>
        <!-- End Footer -->
      </div>
    </div>
  </aside>
  <!-- End Account Sidebar Navigation -->
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#"
    data-position='{"bottom": 15, "right": 15 }'
    data-type="fixed"
    data-offset-top="400"
    data-compensation="#header"
    data-show-effect="slideInUp"
    data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->



  <!-- JS Plugins Init. -->


<script>
    $(document).on("turbolinks:load", function()  {
    // initialization of cubeportfolio
    $.HSCore.components.HSCubeportfolio.init('.cbp');
  });
</script>

  

</body>
</html>
